{{ $mymonths := index $.Site.Data.months }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
{{ partial "header.html" . }}
    <main class="container">
        <section class="posts">
            {{ range $paginator.Pages }}
                <div class="post">
                    <header class="post__header">
                        <h2 class="post__title">
                            <a  class="post__link" href="{{ .Permalink }}">{{ .Title }}</a>
                        </h2>
                        <div class="post__info">
                            <a href="/categoria/{{ .Params.categoria | urlize }}" class="post__category post__category--{{ .Params.categoria | urlize }}">{{ .Params.categoria }}</a>
                            {{ i18n "labels_posted_in" }}
                            <span class="post__date">
                                {{ .Date.Format "01 de" }}
                                {{ index $mymonths (printf "%02d" .Date.Month) }}
                                {{ .Date.Format "de 2006 às 15:04" }}
                            </span>
                            {{ i18n "labels_posted_by" }}
                            <a class="post__author" href="/autor/{{ .Params.autor | urlize }}">{{ .Params.autor }}</a>
                        </div>
                        <div class="post__thumbnail" style="background-image: url({{ .Params.thumbnail }});"></div>
                    </header>
                    <div class="post__body">{{ .Summary }}...</div>
                    <div class="post__tags">
                        {{ range .Params.tag }}
                            <a href="/tag/{{ . | urlize }}" class="post__tag post__tag--{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </div>
                    <footer class="post__footer">
                        <a  class="post__button" href="{{ .Permalink }}">{{ i18n "buttons_keep_reading" }}</a>
                    </footer>
                </div>
            {{ end }}
        </section>
        {{ template "_internal/pagination.html" . }}
    </main>
{{ partial "footer.html" . }}
