<div class="sidebar-card">
    <div class="sidebar-card__title">Compartilhar</div>
    <div class="share-btns">
        <a class="share-btn" href="mailto:?subject=[Post] {{ .Title }}&body={{ .Summary }} {{ .Site.BaseURL }}{{ .Params.slug }}" onclick="share(event, this);">Email</a>
        <a class="share-btn" href="https://www.facebook.com/sharer.php?u={{ .Site.BaseURL }}{{ .Params.slug }}" onclick="share(event, this);">Facebook</a>
        <a class="share-btn" href="https://www.linkedin.com/shareArticle?url={{ .Site.BaseURL }}{{ .Params.slug }}&title={{ .Title }}" onclick="share(event, this);">LinkedIn</a>
        <a class="share-btn" href="https://telegram.me/share/url?url={{ .Site.BaseURL }}{{ .Params.slug }}" onclick="share(event, this);">Telegram</a>
        <a class="share-btn" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Site.BaseURL }}{{ .Params.slug }}&via=mahenrique94" onclick="share(event, this);">Twitter</a>
        <a class="share-btn" href="whatsapp://send?text={{ .Site.BaseURL }}{{ .Params.slug }}" onclick="share(event, this);">WhatsApp</a>
    </div>
</div>
