.author {
    background: #f2f2f2;
    text-align: center;
}

.author__name {
    color: var(--colorPrimary);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.author__picture {
    border-radius: 100%;
    height: 100px;
}

.author__profile {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
}
