.menu__open {
    background: transparent;
    border: none;
    color: #393939;
    font-size: 1.5rem;
}
.menu__open:focus {
    outline: none;
}

.menu__list {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: #393939;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    padding: 2rem 1rem;
    transition: all .2s ease-out;
}

.menu__link:hover, .menu-responsive__link:hover {
    background: #393939;
    color: #fdfdfd;
}

.menu-responsive {
    align-items: center;
    background: #f9f9f9;
    height: 100vh;
    left: 0;
    justify-content: center;
    position: fixed;
    opacity: 0;
    top: 0;
    transform: translateX(-999px);
    transition: all .2s ease-out .2s;
    width: 100vw;
}
.menu-responsive.is-show {
    opacity: 1;
    transform: translateX(0);
}

.menu-responsive__close {
    background: transparent;
    border: none;
    color: #333333;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.menu-responsive__close:focus {
    outline: none;
}

.menu-responsive__list {
    width: 100%;
}

.menu-responsive__item {
    list-style: none;
}

.menu-responsive__link {
    display: block;
    color: #393939;
    padding: 1rem 0;
    text-align: center;
    transition: all .2s ease-out;
}
