.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    list-style: none;
}

.pagination a {
    background: #ffffff;
    border: 1px solid var(--colorPrimary);
    border-radius: 8px;
    color: var(--colorPrimary);
    transition: all .2s linear;
}
.pagination li.active a, .pagination a:hover, .pagination a:hover span {
    background: var(--colorPrimary);
    color: #ffffff;
}

.pagination span {
    color: var(--colorPrimary);
}
