<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="unsafe-url">
    <meta name="theme-color" content="#3dd56d">
    <meta name="google-site-verification" content="_75dHIyh0o2uKMOuK3hX15MxRFDJaal-sjq1b3omfXI">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    <meta name="description" content="{{ .Site.Params.description }}">

    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="blog">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:image" content="/assets/img/blog-do-matheus-castiglioni.jpg">
    <meta property="article:publisher" content="{{ .Site.BaseURL }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}">
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Site.Params.description }}">
    <meta name="twitter:image" content="/assets/img/blog-do-matheus-castiglioni.jpg">

    <meta itemscope itemtype="http://schema.org/Blog">
    <meta itemprop="headline" content="{{ .Site.Title }}">
    <meta itemprop="description" content="{{ .Site.Params.description }}">
    <meta itemprop="image" content="/assets/img/blog-do-matheus-castiglioni.jpg">

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">

    {{ partial "css.html" . }}
</head>
<body>
    <nav class="nav" role="navigation" aria-label="Navegação principal">
        <a href="{{ .Site.BaseURL }}" class="nav__logo" aria-label="{{ .Site.Params.author }}">
            <img src="/assets/img/favicon.png" alt="{{ .Site.Params.author }} logo" class="nav__logo-image">
            Matheus Castiglioni
        </a>
        {{ partial "menu.html" . }}
    </nav>
