<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="unsafe-url">
    <meta name="theme-color" content="#3dd56d">
    <meta name="google-site-verification" content="_75dHIyh0o2uKMOuK3hX15MxRFDJaal-sjq1b3omfXI">
    <meta name="keywords" content="{{ range .Params.tag }}{{ . }}, {{ end }}">
    <meta name="description" content="{{ .Summary }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="og:url" content="{{ .Site.BaseURL }}{{ .Params.slug }}">
    <meta property="og:image" content="{{ .Params.thumbnail }}">
    <meta property="article:publisher" content="{{ .Site.BaseURL }}">
    <meta property="article:author" content="{{ .Site.Params.author }}">
    <meta property="article:section" content="{{ .Params.categoria }}">
    <meta property="article:published_time" content="{{ .Date }}">
    <meta property="article:tag" content="{{ range .Params.tag }}{{ . }}, {{ end }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}">
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Summary }}">
    <meta name="twitter:image" content="{{ .Params.thumbnail }}">

    <meta itemscope itemtype="http://schema.org/Article">
    <meta itemprop="headline" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Summary }}">
    <meta itemprop="image" content="{{ .Params.thumbnail }}">

    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}{{ .Params.slug }}">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">

    {{ partial "css.html" . }}
</head>
<body>
    <nav class="nav" role="navigation" aria-label="Navegação principal">
        <a href="{{ .Site.BaseURL }}" class="nav__logo" aria-label="{{ .Site.Params.author }}">
            <img src="/assets/img/favicon.png" alt="{{ .Site.Params.author }} logo" class="nav__logo-image">
            Matheus Castiglioni
        </a>
        {{ partial "menu.html" . }}
    </nav>
    <div class="progress-bar" role="progressbar" aria-label="Progresso de leitura">
        <div class="progress-bar__fill" id="readProgress"></div>
    </div>
